@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #34495E;
    font-family: 'poppins', sans-serif;
    height: auto;
}

/* Header Section */
header {
    color: rgb(184, 179, 179);
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

#iconbar {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
}

.logo {
    margin-left: 60px;
    margin-top: 50px;

}

.logo img {
    height: 8vh;
}

.logo h3 {
    color: #fff;
    font-weight: 900;
    font-size: 25px;
    margin-top: -55px;
    margin-left: 5.5rem;
}

/* Navigation List */
.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: rgb(227, 238, 227);
    font-weight: bold;
}

.nav ul li a:hover {
    color: #DE3163;
    font-weight: bolder;
}

/* User section on right */
.user {
    cursor: pointer;
    color: #DE3163;
    margin-top: 40px;
    margin-right: 40px;
}

.user a {
    padding: 10px 30px;
    color: white;
    background-color: #DE3163;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.user a:hover {
    background-color: black;
    color: teal;
}

.user i {
    font-size: 20px;
    margin-right: 10px;
}

.user h4 {
    border-radius: 40px;
    background: #DE3163;
    padding: 10px 20px;
    margin-top: 40px;
    margin-right: 40px;
}

.user i {
    padding: 0px 14px;
}

.user h4:hover,
.btn1 a:hover,
.btn4 a:hover,
#search_button:hover {
    color: teal;
    background: black;
    transform: scale(1.1);
}

/* Middle section Heropage and search option */
#heropage_wrapper {
    display: flex;
    flex-direction: column;

}

#search_bar {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-left: 6rem;
}

#search_bar input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

#search_button {
    color: white;
    width: 5%;
    height: 40px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #DE3163;
    outline: none;
    border: none;
    letter-spacing: 1px;
    padding: 4px;
}

.heropage {
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}

.inside-heropage {
    line-height: 2;
}

.inside-heropage h1 {
    font-size: 40px;
}

.inside-heropage p {
    font-size: 17px;
}

.inside-heropage span {
    color: #DE3163;
    font-weight: bold;
}

.line1 {
    height: 2px;
    background-color: #63deff;
    width: 35.5%;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
}

.btn1 {
    margin-top: 30px;
}

.btn1 a {
    background-color: #DE3163;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.btn1 i {
    color: white;
    padding: 0px 10px;
}

.poster {
    margin-top: 4rem;
    margin-right: 5rem;
}

.poster img {
    width: 50%;
    height: 400px;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 0px 50px #F1C40F;
}

/* Footer section */
.footer {
    position: absolute;
    margin-top: 1rem;
    height: 20vh;
    color: white;
    background: #154360;
    width: 100%;
}

.logopart img {
    height: 8vh;
    margin-left: 70px;
    margin-top: -50px;
}

.logopart h1{
    color:#fff;
    font-weight: 900;
    font-size: 1.6rem;
    margin-top: 50px;
    margin-left: 10rem;
}

/* Extra Class just to add Color */
.clr-ylw {
    color: #F7DC6F;
    font-weight: 900;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}

.copyright span{
    color: #DE3163;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.socials i {
    font-size: 27px;
    margin-top: 30px;
    padding: 0px 4px;
    color: #F7DC6F;
}

.btn4 {
    margin-right: 60px;
    margin-top: 30px;
}

.btn4 a {
    text-decoration: none;
    padding: 10px 25px;
    color: whitesmoke;
    background: #DE3163;
    border-radius: 30px;
    font-weight: bold;
}

.scroll {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #DE3163;
    border-radius: 50px;
    bottom: 120px;
    right: 30px;
    text-decoration: none;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
}

.scroll i {
    color: whitesmoke;
    font-weight: bold;
}

.del_movie:hover,
.scroll:hover,
.movie .movie_info i:hover {
    transform: scale(1.2);
    color: black;
}

#main {
    width: 95vw;
    display: flex;
    flex-direction: row;
    margin: 0.8rem;
    ;
}

#movies_list {
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    background-color:transparent ;
    padding: 10px;
    margin: 5px;
}

/* Middle section right side Kids Section */
#fav_wrapper {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

.movie {
    width: 24%;
    background-color: #B2BABB;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 4px 4px 5px 5px rgba(255, 255, 255, 0.1),
        -4px -6px 10px 3px rgba(0, 0, 0, 0.08);
}

.movie img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}

.movie .movie_info i {
    right: 6px;
    margin-top: 3px;
    font-size: 1rem;
}

.movie_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 5px;
    font-style: italic;
    color: #515A5A;
}

.movie h4 {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.fav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
}

.fav_list img {
    width: 60px;
    height: 60px;
    padding: 2px;
    border-radius: 10px;
    margin-right: -60px;
}

.fav_list_container {
    width: 100%;
    height: auto;
    background-color: #B2BABB;
    margin: 4px;
    border-radius: 10px;
    padding: 5px;
}

.fav_movie p {
    font-size: 0.74rem;
    color: #515A5A;
    font-style: italic;
    position: relative;
    margin-top: 5px;
}

.fav_movie span {
    position: absolute;
    right: 30px;
}

.fav_movie span,
.movie_info .movie_rating {
    padding: 2px;
    border-radius: 4px;
    background-color: white;
    color: #DE3163;
}

.fav{
    color: #fff;
    margin: 5px;
    font-size: 2rem;
}

.fav_movie {
    width: 40%;
    color: #fff;
    font-weight: bold;
    margin-top: 4px;
}

.fav_list .movie_rating {
    width: 30px;
    height: 25px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: #DE3163;
    text-align: center;
    padding:3px;
    border-radius: 4px;
    background-color: white;
}
